/* le mie regole */
#navbar{
  background-color:#303f60;
  border-bottom: none;
  padding:5px 0;
}

#brand-color{
  font-size: 24px;
  font-weight: bolder;
  color:#fff;
}
#link-color{
  color:white;
}

#contact-form{
  margin:50px 0;
}

#text-area{
  padding:2% 20%;
  margin-bottom: 10%;
}

.form-control{
  border:none;
  font-size: 20px;
  height:100%;
}

.btn{
  margin-left:20%;
  font-size: 18px;
  font-weight: bold;
  color:#fff;
  background-color: #66CDAA;
  padding:15px;
  border:none;
}


#intestazione, #about{
  background-color: #66CDAA;
  color:#fff;
  padding:4% 0;
}
.fa-star{
  font-size: 28px;
  padding:15px 0;
}

h1{
  font-size: 50px;
  font-weight: bold;
}

#foto-profilo{
  width:400px;
}


.img{
  width:300px;
  padding:2% 0;
  border-radius: 5%;
}

p{
  font-size: 20px;
  padding:10% 15%;
}

#bottone-about{
  background-color: rgba(255, 0, 0, 0);
  color:#fff;
  font-size: 16px;
  padding:10px 10px;
  border:1px solid #fff;
  border-radius: 5%;
}
#bottone-about:hover{
  text-decoration: none;
}

.fa-download{
  color:#fff;
}

.divider-nero{
  display: inline-block;
  height:5px;
  width:100px;
  background-color: #000;
  margin:6px 0;
}

#portfolio{
  padding:3% 0;
}
.divider{
  display: inline-block;
  height:5px;
  width:100px;
  background-color: #fff;
  margin:6px 0;
}
footer{
  background-color: #303f60;
}
