/* regole di debug */





header{
  background-color:darkblue;
  height:100%;
}


footer{
  background-color: darkblue;
}



#contat-fom .form-control text-area input{
  height:100%

}

/* le mie regole */
.intestazione{
  background-color: #359976;
  color:#fff;
  padding:2% 0;
}
.fa-star{
  font-size: 24px;
}

#foto-profilo{
  width:100px;
}


.img{
  width:300px;
  padding:2% 0;
  border-radius: 5%;
}

p{
  font-size: 20px;
  padding:0 15%;
}

#bottone-about{
  background-color: rgba(255, 0, 0, 0);
  color:#fff;
  font-size: 16px;
  padding:5px 10px;
  border:1px solid #fff;
  border-radius: 5%;
}

.fa-download{
  color:#fff;
}
