/* regole di debug */

.container{
  background-color: lightyellow;

}

section{
  background-color: lightblue;
  height:500px;
}

.row{
  height:100px;
  background-color: orange;
}

footer{
  background-color: darkblue;
}
